<p style="color: green"><%= notice %></p>

<%= link_to "Breweries", breweries_path %>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render beer %>
  <% end %>
</div>

<br/>
<hr/>
<br/>
<%= link_to "New beer", new_beer_path %>
